[Unit]
Description=pi-switch service
After=network.target

[Service]
Type=notify
WorkingDirectory=/piswitch
EnvironmentFile=/piswitch/settings.env
ExecStart=/usr/bin/env python3 /piswitch/piswitch.py
Restart=always
TimeoutSec=10
RestartSec=3
User=piswitch
Group=piswitch

[Install]
WantedBy=default.target
